ctags/*.o
ctags/config.*
ctags/ctags
ctags/Makefile

mutt/**/*.o
mutt/**/*.a
mutt/**/.deps
mutt/**/Makefile
mutt/config.*
mutt/doc/instdoc
mutt/doc/instdoc.sh
mutt/doc/makedoc
mutt/doc/manual.xml
mutt/doc/mutt.1
mutt/doc/muttrc.man
mutt/doc/pgpewrap.1
mutt/doc/pgpring.1
mutt/doc/smime_keys.1
mutt/conststrings.c
mutt/flea
mutt/hcachever.sh
mutt/intl/charset.alias
mutt/intl/libintl.h
mutt/intl/ref-add.sed
mutt/intl/ref-del.sed
mutt/keymap_defs.h
mutt/mutt
mutt/mutt_dotlock
mutt/patchlist.c
mutt/pgpewrap
mutt/pgpring
mutt/po/Makefile.in
mutt/po/POTFILES
mutt/reldate.h
mutt/smime_keys
mutt/stamp-h1
mutt/txt2c

tags
mutt/hcversion.h
mutt/mutt_md5
