[submodule ".vim"]
	path = .vim
	url = https://github.com/dpwright/.vim.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/dpwright/lmdb.git
[submodule "muttdown"]
	path = muttdown
	url = https://github.com/Roguelazer/muttdown.git
